// ЦВЕТА

sweet-corn = #fce38a
froly = #f38181
mine-shaft = #333
dusty-gray = #999
morning-glory = #95e1d3
mercury = #e5e5e5
alabaster = #f8f8f8

// РАЗМЕРЫ

breakpoint-xl = 1200px
breakpoint-lg = 992px
breakpoint-md = 768px
breakpoint-sm = 480px

// ШРИФТЫ

font-m = 'Montserrat', Arial, sans-serif
font-k = 'KaushanScript', Arial, sans-serif
font-r = 'Roboto', Arial, sans-serif