.btn
  display flex
  align-items center
  justify-content center
  min-width 150px
  height 40px
  padding 15px 0
  color white
  font-family font-m
  font-size 14px
  line-height 1
  font-weight 700
  text-transform uppercase
  background-color morning-glory
  cursor pointer
  transition all .2s
  &:hover,
  &:focus
    background-color froly