// Подключаемые компоненты

/* Cтили блока buttons */
@import "buttons.styl"
/* Конец блока buttons */

/* Cтили блока menu */
@import "menu.styl"
/* Конец блока menu */

/* Cтили блока hover-block */
@import "hover-block.styl"
/* Конец блока hover-block */

/* Cтили блока review-slider */
@import "review-slider.styl"
/* Конец блока review-slider */

/* Cтили блока footer-social */
@import "footer-social.styl"
/* Конец блока footer-social */

/* Cтили блока footer-mailing */
@import "footer-mailing.styl"
/* Конец блока footer-mailing */

/* Cтили блока form */
@import "form.styl"
/* Конец блока form */

/* Cтили блока footer-form */
@import "footer-form.styl"
/* Конец блока footer-form */