.footer-social
  display flex
  align-items center

.footer-social__title
  display block
  margin-right 15px
  color dusty-gray
  font-family font-r
  font-size 15px
  font-weight 300
  font-style italic

.footer-social__links
  display flex

.footer-social__link
  padding 5px
  &:hover
    .icon
      fill froly
  .icon
    width 17px
    height 17px
    fill morning-glory
    transition all .2s