.review-slider
  position relative
  .slick-arrow
    background-color transparent
    font-size 0
    width 15px
    height 15px
    border 2px solid transparent
    border-top-color mine-shaft
    border-right-color mine-shaft
    position absolute
    top 50%
    cursor pointer
    transition all .2s
    z-index 10
    &:hover
      opacity 0.8
    &.slick-prev
      left 10px
      transform translateY(-50%) rotate(-135deg)
    &.slick-next
      right 10px
      transform translateY(-50%) rotate(45deg)

.review-slider__item-wrap
  display flex
  align-items center
  width 100%
  max-width 950px
  margin 0 auto

.review-slider__item-icon
  width 150px
  height 150px
  flex-center()
  margin-right 60px
  border 3px solid morning-glory
  flex none
  .icon
    width 63px
    height 63px
    fill morning-glory
  @media(max-width breakpoint-md)
    width 70px
    height 70px
    margin-right 20px
    .icon
      width 25px
      height 25px

.review-slider__item-img
  margin-right 30px
  border-radius 50%
  width 210px
  height 210px
  overflow hidden
  flex none
  @media(max-width breakpoint-md)
    margin-right 20px
    width 130px
    height 130px
  @media(max-width breakpoint-sm)
    width 80px
    height 80px

.review-slider__item-text
  color dusty-gray
  font-family font-r
  font-style italic
  font-weight 300
  font-size 24px
  line-height 36px
  margin-bottom 25px
  @media(max-width breakpoint-md)
    font-size 14px
    line-height 18px
    margin-bottom 15px

.review-slider__item-name
  color mine-shaft
  font-family font-m
  font-size 24px
  font-weight 700
  font-style italic
  display flex
  align-items center
  &:before
    content ''
    display block
    width 60px
    height 3px
    background-color froly
    margin-right 10px
  @media(max-width breakpoint-md)
    font-size 18px
    &:before
      width 40px