.doing
  overflow hidden

.doing__header
  margin-bottom 90px
  @media(max-width breakpoint-md)
    margin-bottom 30px

.doing__content
  display flex

.doing__img
  position relative
  width 100%
  max-width 570px
  min-height 380px
  flex none
  margin-right 30px
  img
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    opacity 0
    transition all .2s
    &.active
      opacity 1
  @media(max-width breakpoint-lg)
    max-width 350px
    margin-right 20px
    overflow hidden
    img
      left 50%
      transform translateX(-50%)
      width auto
      max-width none
  @media(max-width breakpoint-md)
    display none

.doing__acc
  flex auto

.doing__block
  &+&
    margin-top 10px
  &.active
    .doing__block-header
      &:after
        transform translateY(-50%) rotate(-135deg)
    .doing__block-content
      border 1px solid mercury
      height 174px
      padding 20px


.doing__block-header
  display flex
  align-items center
  padding 15px
  border 1px solid mercury
  cursor pointer
  position relative
  &:after
    content ''
    display block
    border-radius 2px
    border 2px solid transparent
    width 15px
    height 15px
    border-right-color silver
    border-bottom-color silver
    position absolute
    top 50%
    right 20px
    transform translateY(-50%) rotate(45deg)
    transition all .2s

.doing__block-icon
  margin-right 15px
  .icon
    width 30px
    height 30px
    fill morning-glory

.doing__block-title
  color mine-shaft
  font-family font-m
  font-size 14px
  font-weight bold
  text-transform uppercase

.doing__block-content
  overflow-y scroll
  padding 0
  height 0
  border 0
  transition all .2s

.doing__block-text
  color dusty-gray
  font-family font-r
  font-style italic
  font-weight 300
  font-size 15px
  line-height 24px
  padding-right 40px