.footer
  padding-top 70px
  padding-bottom 20px
  background-color alabaster
  @media(max-width breakpoint-lg)
    padding-top 30px

.footer__wrap
  display flex
  justify-content space-between
  padding-bottom 70px
  border-bottom 1px solid mercury
  margin-bottom 25px
  @media(max-width breakpoint-md)
    flex-direction column
    justify-content flex-start
    padding-bottom 20px
    margin-bottom 20px

.footer__info
  width 100%
  max-width 480px
  @media(max-width breakpoint-lg)
    max-width 50%
    display flex
    flex-direction column
  @media(max-width breakpoint-md)
    max-width 100%

.footer__logo
  color silver
  font-family font-m
  font-size 46px
  font-weight 700
  margin-bottom 30px
  @media(max-width breakpoint-md)
    margin-bottom 20px

.footer__text
  color dusty-gray
  font-family font-r
  font-size 15px
  font-weight 400
  line-height 24px
  margin-bottom 75px
  max-width 410px
  @media(max-width breakpoint-md)
    margin-bottom 20px

.footer__subscribes
  color mine-shaft
  font-family font-m
  font-size 14px
  margin-bottom 15px
  display block
  b
    font-weight bold

.footer__social
  padding-top 15px
  border-top 1px solid mercury
  margin-bottom 35px
  @media(max-width breakpoint-md)
    margin-bottom 10px

.footer__mailing
  @media(max-width breakpoint-lg)
    margin-top auto
  @media(max-width breakpoint-md)
    margin-top 0

.footer__blog
  width 100%
  max-width 350px
  margin 0 10px
  @media(max-width breakpoint-lg)
    display none

.footer__subtitle
  color mine-shaft
  font-family font-m
  font-size 14px
  font-weight bold
  text-transform uppercase
  margin-bottom 30px
  @media(max-width breakpoint-md)
    margin-bottom 20px

.footer__block
  display flex
  align-items center
  &+&
    margin-top 30px

.footer__block-img
  flex none
  margin-right 20px
  width 100%
  max-width 120px

.footer__block-title
  color mine-shaft
  font-family font-m
  font-size 12px
  font-weight bold
  line-height 18px
  text-transform uppercase
  margin-bottom 10px

.footer__block-date
  color dusty-gray
  font-family font-r
  font-size 13px
  font-weight 300
  font-style italic

.footer__form
  width 100%
  max-width 280px
  @media(max-width breakpoint-lg)
    max-width 50%
    margin-left 20px
  @media(max-width breakpoint-md)
    max-width 100%
    margin-top 20px
    margin-left 0

.footer__copyright
  text-align center
  @media(max-width breakpoint-md)
    font-size 15px

.footer__copyright-author
  color froly