// Подключаемые секции

/* Секция header */
@import 'header.styl'
/* Конец секции header */

/* Секция hero */
@import 'hero.styl'
/* Конец секции hero */

/* Секция history */
@import 'history.styl'
/* Конец секции history */

/* Секция numbers */
@import 'numbers.styl'
/* Конец секции numbers */

/* Секция services */
@import 'services.styl'
/* Конец секции services */

/* Секция doing */
@import 'doing.styl'
/* Конец секции doing */

/* Секция author */
@import 'author.styl'
/* Конец секции author */

/* Секция team */
@import 'team.styl'
/* Конец секции team */

/* Секция brand */
@import 'brand.styl'
/* Конец секции brand */

/* Секция work */
@import 'work.styl'
/* Конец секции work */

/* Секция learner */
@import 'learner.styl'
/* Конец секции learner */

/* Секция people */
@import 'people.styl'
/* Конец секции people */

/* Секция blog */
@import 'blog.styl'
/* Конец секции blog */

/* Секция map */
@import 'map.styl'
/* Конец секции map */

/* Секция footer */
@import 'footer.styl'
/* Конец секции footer */